header
  .mdl-grid
    .mdl-cell.mdl-cell--2-col.mdl-cell--hide-phone.mdl-cell--hide-tablet
    .mdl-cell.mdl-cell--8-col.mdl-cell--3-col-phone
      .common_header
        a.font_0.banner(href='/') MINAL MANANI
      //- h1.font_0.common_header MINAL MANANI
    .mdl-cell.mdl-cell--1-col-phone.mdl-cell--hide-tablet.mdl-cell--hide-desktop.menu-icon-holder
      .menu-icon
    nav
      ul.primary-nav
        li.font_1
          a(href='/') portfolio
        .menu_separator
        li.font_1
          a(href='/about.html') about
        .menu_separator
        li.font_1
          a(href='/contact.html') contact
