section.footer-menu-section
  .mdl-grid.mdl-cell--hide-phone
    .mdl-cell.mdl-cell--2-col
    .mdl-cell.mdl-cell--8-col.footer-menu
     .mdl-grid.mdl-grid--nesting.mdl-typography--text-center.footer-padding
       .mdl-cell.mdl-cell--3-col
       .mdl-cell.mdl-cell--2-col.footer-menu_a
        a(href='#') portfolio
       .mdl-cell.mdl-cell--2-col.footer-menu_a
        a(href='#') about
       .mdl-cell.mdl-cell--2-col.footer-menu_a
        a(href='#') contact
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      p.font_9.mdl-typography--text-center  © 2018 Minal Manani Limited
