footer.footer-menu-section
  .mdl-grid.mdl-cell--hide-phone
    .mdl-cell.mdl-cell--2-col
    .mdl-cell.mdl-cell--8-col.footer-menu.footer-menu_a
       ul
        li
           a.font_1(href='/') portfolio
        li
          a.font_1(href='/about.html') about
        li        
          a.font_1(href='/contact.html') contact
  .mdl-grid
    .mdl-cell.mdl-cell--12-col.mdl-cell--4-col-phone
      p.font_9.mdl-typography--text-center  © 2018 Minal Manani Limited
