header.cd-header
  a.cd-primary-nav-trigger(href='#0')
    //- span.cd-menu-text Menu
    span.cd-menu-icon
nav
  ul.cd-primary-nav
    //- li.cd-label About us
    li.font_1
      a(href='#0') portfolio
    .menu_separator
    li.font_1
      a(href='#0') about
    .menu_separator
    li.font_1
      a(href='#0') contact
