/* menu nav */

.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
  position: fixed;
  height: 100%;
}

.menu-icon-holder {
  padding-right: 8px;
  background-color: transparent;
}

.menu-icon {
  padding-right: 8px;
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: relative;
  float: right;
  top: 53%;
  bottom: auto;
  right: auto;
  width: 25px;
  height: 3px;
  background-color: #2a2a2a;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
  &::before, &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2a2a2a;
    right: 0;
    -webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
    -moz-transition: -moz-transform 0.3s, top 0.3s, background-color 0s;
    transition: transform 0.3s, top 0.3s, background-color 0s;
  }
  &::before {
    top: -8px;
  }
  &::after {
    top: 8px;
  }
}

.menu-icon-holder .menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.menu-icon.is-clicked {
  &::after {
    background-color: white;
  }
  &::before {
    background-color: white;
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  &::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
  }
}

.primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #2A2A2A;
  z-index: 0;
  text-align: center;
  padding: 80px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  margin-top: 0;
  // opacity: 1;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  a {
    color: white;
  }
  .mobile-nav-selected {
    color: #2AA8CC;
  }
  &.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    padding-top: 80px;
  }
  li {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0.2em 0;
    text-transform: capitalize;
  }
  a {
    display: inline-block;
    padding: 10px 0;
    border-radius: 0.25em;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
    text-transform: uppercase;
    font: normal normal bold 16px/1.4em 'open sans',sans-serif !important;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

.no-touch .primary-nav a:hover {
  background-color: #e36767;
}

.menu_separator {
  border-top: solid 1px white;
  display: block;
  margin: 0 auto;
  width: 200px;
  text-align: center;
}
