@import '../partials/fonts'; // variables...
// <------reset------->

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// <---- defaults ---->

.mdl-grid {
  padding: 0 !important;
}
// <-------homepage masonry grid---------->

.grid {
  // max-width: 100%;
  // margin: 0 auto;  
}

.grid .item {
  display: block;
  float: left;
  padding: 5px;
  width: 25%;
  // opacity: 1;
}
// .grid .item a,
// .grid .item a img {
//   //could delete?
//   outline: none;
//   border: none;
//   display: block;
//   // end
//   // width: 100%;
// }
// .clearfix:after,
// .clearfix:before {
//   content: " ";
//   display: table;
// }
// .clearfix:after {
//   clear: both;
// }

img {
  border: 0;
  display: block;
  width: 100%;
}

.grid.effect-2 .item.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}
@-webkit-keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.item:hover {
  opacity: 0.3;
  filter: alpha(opacity=70);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
//  <--- common header ----->

.common_header {
  letter-spacing: 0.2em;
  text-align: center;
  margin: 35px 0;
}
// <---- for small screens ----->
@media screen and (max-width: 480px) {
  .grid .item {
    width: 50%;
    padding: 10px;
  }

  .common_header {
    text-align: left;
    margin: 25px 0 17px;
    padding-left: 10px;
    // margin-bottom: 17px !important;
  }

  .main-gallery {
    margin-top: 0 !important;
    z-index: -1;
  }

  .contact-form-header {
    p {
      text-align: center;
    }
    position: static !important;
  }

  .contact-form-emil {
    a {
      font-size: 16px;
    }
  }

  .contact-form-nav {
    // z-index: $header-zindex;
  }

  .form-style {
    input,
    textarea {
      width: 100%;
      border: 1px solid rgba(42, 42, 42, 1);
      padding: 5px;
      color: #808080;
      margin: 0 0 5px;
      line-height: 35px !important;
    }
  }
}
// <--- footer styles ---->

.footer-menu-section {
  padding: 40px 0 0;
}

.footer-menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  background-color: #2A2A2A;
  font: normal normal bold 13px/1.4em 'open sans',sans-serif;
}

.footer-menu_a {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }

  li {
    display: inline-block;
  }

  li a {
    padding: 0 30px;
  }

  a {
    font-weight: bold;
    color: inherit !important;
    text-decoration: none;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    /* ...and now for the proper property */
    transition: 0.5s;
  }

  .selected {
    color: #FFFFFF !important;
  }

  a:hover {
    color: #FFFFFF !important;
  }
}
// <--- contact form styles ----->

.form-style {
  input,
  textarea {
    width: 100%;
    border: 1px solid rgba(42, 42, 42, 1);
    padding: 5px;
    color: #808080;
    margin: 0 0 5px;
    font: normal normal 100 13px/1.4em 'Roboto',sans-serif;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
  }

  textarea {
    min-height: 115px;
    resize: none;
  }

  button {
    background-color: rgba(42, 42, 42, 1);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    margin: 0;
    max-width: 35%;
    padding: 5px;
  }
}

.contact-form-header {
  position: relative;
  top: 9px;

  p {
    letter-spacing: 4px;
  }

  .contact-form-emil {
    p {
      letter-spacing: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

.contact-extra-padding {
  padding-top: 130px;
}
