@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,300,400,700');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

img {
  border: 0;
  display: block;
  width: 100%;
}

.grid {
  max-width: 69em;
  list-style: none;
  margin: 0 auto;
  padding: 1;
}

.grid .item {
  display: block;
  float: left;
  padding: 5px;
  width: 25%;
  opacity: 1;
}

.grid .item a,
.grid .item img {
  //could delete?
  outline: none;
  border: none;
  display: block;
  // end
  max-width: 100%;
}

.grid.effect-2 .item.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}
@-webkit-keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 840px) {
  .grid .item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .grid .item {
    width: 50%;
    padding: 10px;
  }

  .common_header {
    text-align: left !important;
    margin: 25px 0 !important;
    padding-left: 10px;
    margin-bottom: 17px !important;
  }

  .main-gallery {
    margin-top: 0 !important;
    z-index: -3;
  }

  .contact-form-header {
    p {
      text-align: center;
    }
  }

  .contact-form-emil {
    a {
      font-size: 16px;
    }
  }

  .contact-form-nav {
    z-index: -3;
  }

  .form-style {
    input,
    textarea {
      width: 100%;
      border: 1px solid rgba(42, 42, 42, 1);
      padding: 5px;
      color: #808080;
      margin: 0 0 5px;
      font: normal normal 100 14px/1.4em 'Roboto',sans-serif !important;
      line-height: 35px !important;
    }
  }
}
// my stylesheet

.font_0 {
  font: normal normal bold 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_1 {
  font: normal normal bold 13px/1.4em 'open sans',sans-serif;
  color: #FFFFFF;
}

.font_2 {
  font: normal normal normal 20px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_3 {
  font: normal normal normal 60px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A;
}

.font_4 {
  font: normal normal normal 35px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A;
}

.font_5 {
  font: normal normal normal 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_6 {
  font: normal normal normal 19px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}
// .font_7 {
//   font: normal normal bold 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
//   color: #2A2A2A;
// }

.font_7 {
  font: normal normal 300 14px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A;
}
// .font_8 {
//   font: normal normal normal 14px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
//   color: #2A2A2A;
// }

.font_8 {
  font: normal normal 300 14px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A;
}
// .font_9 {
//   font: normal normal 100 11px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
//   color: #2A2A2A;
// }

.font_9 {
  font: normal normal 300 11px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A;
}

.font_10 {
  font: normal normal normal 10px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  color: #2A2A2A;
}

.common_header {
  letter-spacing: 0.2em;
  text-align: center;
  margin: 35px 0;
}

.mdl-grid {
  padding: 0 !important;
}

.footer-menu-section {
  padding: 40px 0 0;
}

.footer-menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  background-color: #2A2A2A;
  font: normal normal bold 13px/1.4em 'open sans',sans-serif;
}

.footer-menu_a {
  a {
    font-weight: bold;
    color: inherit !important;
    text-decoration: none;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    /* ...and now for the proper property */
    transition: 0.5s;
  }

  a:hover {
    color: #FFFFFF !important;
  }
}

a {
  text-decoration: none;
}

.footer-padding {
  padding: 0 !important;
}

.item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item:hover {
  opacity: 0.3;
  filter: alpha(opacity=70);
}

.form-style {
  input,
  textarea {
    width: 100%;
    border: 1px solid rgba(42, 42, 42, 1);
    padding: 5px;
    color: #808080;
    margin: 0 0 5px;
    font: normal normal 100 13px/1.4em 'Roboto',sans-serif;
  }

  textarea {
    min-height: 115px;
    resize: none;
  }

  button {
    background-color: rgba(42, 42, 42, 1);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    margin: 0;
    max-width: 35%;
    padding: 5px;
  }
}

.contact-form-header {
  position: relative;
  top: 9px;

  p {
    letter-spacing: 4px;
  }

  .contact-form-emil {
    p {
      letter-spacing: 0;
    }
  }
}

.contact-extra-padding {
  padding-top: 130px;
}
