@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,300,400,700");
.font_0 {
  font: normal normal bold 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_1 {
  font: normal normal bold 13px/1.4em 'open sans',sans-serif;
  color: #FFFFFF; }

.font_2 {
  font: normal normal normal 20px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_3 {
  font: normal normal normal 60px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A; }

.font_4 {
  font: normal normal normal 35px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A; }

.font_5 {
  font: normal normal normal 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_6 {
  font: normal normal normal 19px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_7, .font_8 {
  font: normal normal 300 14px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A; }

.font_9 {
  font: normal normal 300 11px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A; }

.font_10 {
  font: normal normal normal 10px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A; }

.font_11 {
  font: normal normal 100 14px/1.4em 'Roboto',sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.mdl-grid {
  padding: 0 !important; }

.grid-sizer {
  width: 25%; }

.grid .item {
  display: block;
  float: left;
  padding: 5px;
  width: 25%; }

img {
  border: 0;
  display: block;
  width: 100%; }

.grid.effect-2 .item.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards; }

@-webkit-keyframes moveUp {
  0% { }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes moveUp {
  0% { }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.item:hover,
a img:hover {
  opacity: 0.3;
  filter: alpha(opacity=70);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.common_header {
  letter-spacing: 0.2em;
  text-align: center;
  margin: 35px 0; }

.banner {
  text-decoration: none; }

@media screen and (max-width: 840px) {
  .contact-form-header p {
    text-align: center; }
  .contact-form-emil {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .grid .item {
    width: 50%;
    padding: 10px; }
  .grid-sizer {
    width: 50%; }
  .common_header {
    text-align: left;
    margin: 25px 0 17px;
    padding-left: 10px; }
  .main-gallery {
    margin-top: 0 !important;
    z-index: -1; }
  .contact-form-header {
    position: static !important; }
    .contact-form-header p {
      text-align: center; }
  .about-page {
    padding: 0 10px !important; }
  .portfolio-page {
    padding: 0 10px !important; }
  .about-img {
    padding: 0 10px !important;
    width: 100%; }
  .project-img {
    padding: 0 10px !important;
    width: 100%; }
  .about-header {
    text-align: center;
    padding-left: 0 !important; }
  .contact-form-emil a {
    font-size: 16px; }
  .form-style input,
  .form-style textarea {
    width: 100%;
    border: 1px solid #2a2a2a;
    padding: 5px;
    color: #808080;
    margin: 0 0 15px !important;
    line-height: 35px !important;
    font-size: 16px !important; }
  button {
    font-weight: 400 !important; }
  .portfolio-btn {
    font-size: 16px !important;
    padding: 10px 15px !important; }
  .portfolio-btn-wrapper {
    text-align: center;
    padding-top: 30px; }
  .item:hover,
  a img:hover {
    opacity: 1;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; } }

.footer-menu-section {
  padding: 40px 0 0; }

.footer-menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  background-color: #2A2A2A;
  font: normal normal bold 13px/1.4em 'open sans',sans-serif; }

.footer-menu_a ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  text-align: center; }

.footer-menu_a li {
  display: inline-block; }
  .footer-menu_a li a {
    padding: 0 30px; }

.footer-menu_a a {
  font-weight: bold;
  color: inherit !important;
  text-decoration: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s; }

.footer-menu_a .selected,
.footer-menu_a a:hover {
  color: #FFFFFF !important; }

.form-style input {
  width: 100%;
  border: 1px solid #2a2a2a;
  padding: 5px;
  color: #808080;
  margin: 0 0 5px;
  font: normal normal 100 13px/1.4em 'Roboto',sans-serif;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0; }

.form-style .error {
  border: 1px solid #ed1c24; }

.form-style .err-msg {
  width: 80%;
  display: inline-block;
  color: #ed1c24;
  font-weight: 300;
  font-size: 16px; }

.form-style textarea {
  width: 100%;
  border: 1px solid #2a2a2a;
  padding: 5px;
  color: #808080;
  margin: 0 0 5px;
  font: normal normal 100 13px/1.4em 'Roboto',sans-serif;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  min-height: 115px;
  resize: none; }

.form-style button {
  background-color: #2a2a2a;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  margin: 0;
  max-width: 35%;
  padding: 10px 15px; }

.contact-form-header {
  position: relative;
  top: 9px; }
  .contact-form-header p {
    letter-spacing: 4px; }
  .contact-form-header .contact-form-emil p {
    letter-spacing: 0; }
  .contact-form-header .contact-form-emil a {
    text-decoration: none; }

.contact-extra-padding {
  padding-top: 130px; }

.about-page {
  z-index: -1;
  position: relative;
  top: 9px;
  padding-left: 8px; }
  .about-page p {
    letter-spacing: 4px; }
  .about-page .about-body p {
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 300;
    font-size: 15px; }

.show-more {
  text-decoration: underline;
  font-weight: 400; }

.about-img {
  width: 100%; }

.project-img {
  width: 100%;
  margin-bottom: 25px; }

.gallery-icon {
  padding-right: 8px;
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: relative;
  float: right;
  top: 53%;
  bottom: auto;
  right: auto;
  width: 25px;
  height: 3px;
  background-color: transparent;
  /* these are the upper and lower lines in the menu icon */ }
  .gallery-icon::after, .gallery-icon::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2a2a2a;
    right: 0; }
  .gallery-icon::before {
    background-color: #fff;
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .gallery-icon::after {
    background-color: #fff;
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg); }
  .gallery-icon:hover::after, .gallery-icon:hover::before {
    background-color: #2AA8CC; }

.portfolio-btn {
  background-color: #2a2a2a;
  border: 0;
  color: #FFFFFF;
  cursor: pointer !important;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  position: absolute;
  text-decoration: none; }
  .portfolio-btn:hover {
    opacity: 0.3;
    filter: alpha(opacity=70);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.portfolio-page {
  position: relative;
  top: 9px;
  padding-left: 8px; }
  .portfolio-page p {
    letter-spacing: 4px; }
  .portfolio-page .about-body p {
    letter-spacing: 0.5px;
    line-height: 24px;
    font-weight: 300;
    font-size: 15px; }
