@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,300,400,700");
.font_0 {
  font: normal normal bold 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_1 {
  font: normal normal bold 13px/1.4em 'open sans',sans-serif;
  color: #FFFFFF; }

.font_2 {
  font: normal normal normal 20px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_3 {
  font: normal normal normal 60px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A; }

.font_4 {
  font: normal normal normal 35px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A; }

.font_5 {
  font: normal normal normal 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_6 {
  font: normal normal normal 19px/1.4em 'open sans',sans-serif;
  color: #2A2A2A; }

.font_7 {
  font: normal normal 300 14px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A; }

.font_8 {
  font: normal normal 300 14px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A; }

.font_9 {
  font: normal normal 300 11px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A; }

.font_10 {
  font: normal normal normal 10px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  color: #2A2A2A; }

.font_11 {
  font: normal normal 100 14px/1.4em 'Roboto',sans-serif; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mdl-grid {
  padding: 0 !important; }

.grid .item {
  display: block;
  float: left;
  padding: 5px;
  width: 25%; }

img {
  border: 0;
  display: block;
  width: 100%; }

.grid.effect-2 .item.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards; }

@-webkit-keyframes moveUp {
  0% { }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@keyframes moveUp {
  0% { }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

.item:hover {
  opacity: 0.3;
  filter: alpha(opacity=70);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.common_header {
  letter-spacing: 0.2em;
  text-align: center;
  margin: 35px 0; }

@media screen and (max-width: 480px) {
  .grid .item {
    width: 50%;
    padding: 10px; }
  .common_header {
    text-align: left;
    margin: 25px 0 17px;
    padding-left: 10px; }
  .main-gallery {
    margin-top: 0 !important;
    z-index: -1; }
  .contact-form-header {
    position: static !important; }
    .contact-form-header p {
      text-align: center; }
  .contact-form-emil a {
    font-size: 16px; }
  .form-style input,
  .form-style textarea {
    width: 100%;
    border: 1px solid #2a2a2a;
    padding: 5px;
    color: #808080;
    margin: 0 0 5px;
    line-height: 35px !important; } }

.footer-menu-section {
  padding: 40px 0 0; }

.footer-menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #808080;
  background-color: #2A2A2A;
  font: normal normal bold 13px/1.4em 'open sans',sans-serif; }

.footer-menu_a ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  text-align: center; }

.footer-menu_a li {
  display: inline-block; }

.footer-menu_a li a {
  padding: 0 30px; }

.footer-menu_a a {
  font-weight: bold;
  color: inherit !important;
  text-decoration: none;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s; }

.footer-menu_a .selected {
  color: #FFFFFF !important; }

.footer-menu_a a:hover {
  color: #FFFFFF !important; }

.form-style input,
.form-style textarea {
  width: 100%;
  border: 1px solid #2a2a2a;
  padding: 5px;
  color: #808080;
  margin: 0 0 5px;
  font: normal normal 100 13px/1.4em 'Roboto',sans-serif;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0; }

.form-style textarea {
  min-height: 115px;
  resize: none; }

.form-style button {
  background-color: #2a2a2a;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  margin: 0;
  max-width: 35%;
  padding: 5px; }

.contact-form-header {
  position: relative;
  top: 9px; }
  .contact-form-header p {
    letter-spacing: 4px; }
  .contact-form-header .contact-form-emil p {
    letter-spacing: 0; }
  .contact-form-header .contact-form-emil a {
    text-decoration: none; }

.contact-extra-padding {
  padding-top: 130px; }

/* menu nav */
.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
  position: fixed;
  height: 100%; }

.menu-icon-holder {
  padding-right: 8px;
  background-color: transparent; }

.menu-icon {
  padding-right: 8px;
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: relative;
  float: right;
  top: 53%;
  bottom: auto;
  right: auto;
  width: 25px;
  height: 3px;
  background-color: #2a2a2a;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */ }

.menu-icon::before,
.menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2a2a2a;
  right: 0;
  -webkit-transition: -webkit-transform 0.3s, top 0.3s, background-color 0s;
  -moz-transition: -moz-transform 0.3s, top 0.3s, background-color 0s;
  transition: transform 0.3s, top 0.3s, background-color 0s; }

.menu-icon::before {
  top: -8px; }

.menu-icon::after {
  top: 8px; }

.menu-icon-holder .menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
  z-index: 1; }

.menu-icon.is-clicked::after,
.menu-icon.is-clicked::before {
  background-color: white; }

.menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

.menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg); }

.primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #2A2A2A;
  z-index: 0;
  text-align: center;
  padding: 80px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  margin-top: 0;
  opacity: 1;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .primary-nav a {
    color: white; }
  .primary-nav .mobile-nav-selected {
    color: #2AA8CC; }

.primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  padding-top: 80px; }

.primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.2em 0;
  text-transform: capitalize; }

.primary-nav a {
  display: inline-block;
  padding: 10px 0;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  text-transform: uppercase;
  font: normal normal bold 16px/1.4em 'open sans',sans-serif !important;
  letter-spacing: 2px;
  text-decoration: none; }

.no-touch .primary-nav a:hover {
  background-color: #e36767; }

.menu_separator {
  border-top: solid 1px white;
  display: block;
  margin: 0 auto;
  width: 200px;
  text-align: center; }
