@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:100,300,400,700");

.font_0 {
  font: normal normal bold 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_1 {
  font: normal normal bold 13px/1.4em 'open sans',sans-serif;
  color: #FFFFFF;
}

.font_2 {
  font: normal normal normal 20px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_3 {
  font: normal normal normal 60px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A;
}

.font_4 {
  font: normal normal normal 35px/1.4em 'Open Sans',sans-serif;
  color: #2A2A2A;
}

.font_5 {
  font: normal normal normal 24px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_6 {
  font: normal normal normal 19px/1.4em 'open sans',sans-serif;
  color: #2A2A2A;
}

.font_7, .font_8 {
  font: normal normal 300 14px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A;
}

.font_9 {
  font: normal normal 300 11px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A;
}

.font_10 {
  font: normal normal normal 10px/1.4em 'Roboto',sans-serif;
  color: #2A2A2A;
}

.font_11 {
  font: normal normal 100 14px/1.4em 'Roboto',sans-serif;
}
