html
  head
    // build:js js/main.min.js
    script(src='js/main.js')
    // endbuild
    // build:css css/styles.min.css
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/test.css')
    // endbuild
  body
    h1 Hello
    p how are you today?
