extends includes/layout.pug

append scripts
  script(src='js/masonry/masonry.pkgd.min.js')
  
append css
  
block content
  include includes/mobile_nav.pug
  include includes/common_header.pug
  .mdl-grid
    .mdl-cell.mdl-cell--2-col.mdl-cell--hide-phone
    .mdl-cell.mdl-cell--8-col.main-gallery
      #grid.grid.effect-2
        .item
          a(href='#')
            img(src='images/8.jpg')
        .item
          a(href='#')
            img(src='images/9.jpg')
        .item
          a(href='#')
            img(src='images/1.jpg')
        .item
          a(href='#')
            img(src='images/3.jpg')
        .item
          a(href='#')
            img(src='images/6.png')
        .item
          a(href='#')
            img(src='images/2.jpg')
        .item
          a(href='#')
            img(src='images/4.jpg')
        .item
          a(href='#')
            img(src='images/5.jpg')
        .item
          a(href='#')
            img(src='images/7.jpg')
              
block bodyscripts           
  script(src="js/main.js")
